body.login-page {
    background: linear-gradient(120deg, #2300be 0%, #f12d2d 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body.login-page header.site-header {
    background-color: #4e11110f;
    border-radius: 10px;
}
.login-container {
    max-width: 380px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.toggle-password {
    position: absolute;
    top: 36px;
    right: 10px;
    cursor: pointer;
}
